header.header
    .header_icon
        a(href = routes.home) 
            i.fab.fa-youtube.fa-3x
        h1 WETUBE

    .header_column
        form(name = 'search', action = routes.search, method = 'get')
            input(type = 'text', name = 'term', placeholder = 'search by term...')

    .header_column
        ul
            li 
                a(href = routes.join) Join
            li    
                a(href = routes.login) Log-in
    
