.socialLogin_column
    button.socialLogin_github
        <i class="fab fa-github"></i>
        span    continue with

    button.socialLogin_facebook
        <i class="fab fa-facebook"></i>
        span    continue with    