extend layouts/main.pug

block content
        .login_column
        form(name = 'login', action = '/login', method = 'post')
            input(type="email", name = 'email', placeholder = 'E-mail')
            input(type="password", name = 'password', placeholder = 'Password')
            input(type="submit", value = 'Login')

        include ./partials/socialLogin.pug 